# R specific files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store
.here

# Other files to ignore
src/scratch/*
src/00_download_data

# Directories with large data files
scratch/*
data/raw/*
data/processed/*
output/*
